<footer>
    <div class="contact">
        <h2>Contato</h2>
        <div class="informations">
            <span>Tel: (19) 3989-9089</span>
            <span>Cel: (19) 9 9826-9021</span>
        </div>
    </div>
    <div class="footer-map">
        <h2>Localização</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d918.4403632551256!2d-46.99477149999998!3d-22.95901079999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8cdeea9367d19%3A0x6af08df337122044!2sR.%20Ant%C3%B4nio%20Lando%2C%20350%20-%20Jardim%20Novo%20Horizonte%2C%20Valinhos%20-%20SP%2C%2013272-022!5e0!3m2!1spt-BR!2sbr!4v1629917227876!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <!--<a href="https://storyset.com/work">Work illustrations by Storyset</a>-->
</footer>