<header id="menu"> 
    <ul class="menu">
        <li class="logo-header"><a href="index.php"><img src="../../src/images/logo-without-background.png" alt=""></a></li>
        <div class="div-header">
            <li class="txt-sobre"><a href="aboutus.php" id="link-about">About Us</a></li>
            <div class="div-hr"><hr id="hr"></div>
            <li><button id="btn-login"><i class="fa-solid fa-user"></i>  Login</button></li>
            <li><button id="btn-signup"><i class="fa-solid fa-user-plus"></i> Sign Up</button></li>
            <li><input type="range" name="" value="0" min="0" max="1" id="switch" onchange="darkMode()"></li>
            <li class="dark-mode">Dark Mode</li>
        </div>
    </ul>
</header>