$offWhite: #f8f8ff;
$black: #000;
$grey: #d3d3d3;
$red: #8c1b2f;
$lighterRed: #8c1b3079;

@mixin box-shadow($color){
    box-shadow: 0px 0px 10px $color;
}

@mixin box-shadow-button($color){
    box-shadow: 0px 7px 29px 0px $color;
}

*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-center{
    display: grid;
    place-items: center;
}

.column{
    flex-direction: column;
}

@mixin btn($width, $marginTop, $marginBottom, $color, $colorFont, $colorBoxShadow){
    width: $width;
    height: 2em;
    margin-top: $marginTop;
    margin-bottom: $marginBottom;
    margin-left: 1em;
    
    background-color: $color;
    color: $colorFont;

    @include box-shadow-button($colorBoxShadow);

    border: 0;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;

    transition: .2s;

    &:hover{
        box-shadow: 0px 4px 10px 0px $colorBoxShadow;
    }
}