@import 'base';

body{
    background-color: $offWhite;
    font-size: 1.5rem;
}

header{
    width: 100%;
    box-sizing: border-box;
    height: 4em;
    padding: 0 3em;
    background-color: $offWhite;

    @include box-shadow(rgba(0, 0, 0, 0.13));

    ul, .div-header{
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    ul{
        justify-content: space-between;
    }
}

.menu{
    li{
       @extend .flex-center;
    }

        img{
            width: 11em;
            transition: .4s;
        }
    
        img:hover{
            filter: drop-shadow(rgba(0, 0, 0, 0.233) 0px 0px 5px);
        }

    .txt-sobre{
        margin-left: 1em;
        margin-right: 1em;

        a{
            color: $black;
            text-decoration: none;

            transition: .2s;
        }

        a:hover{
            color: $red !important;
        }

        // #link-about-us{
        //     color: $red;
        // }
    }
    
    .div-hr{
        height: 4em;
        
        @extend .flex-center;
    
        #hr{
            line-height: 4em;
            height: 70%;
        }
    }
    
    #btn-login, #btn-signup{
        @include btn(5em, 0, 0, $offWhite, $black, rgba(0, 0, 0, 0.144));
    }
    
    #btn-signup{
        width: 6em;
    }
    
    #switch{
        -webkit-appearance: none;
        width: 51px;
        height: 27px;
        background-color: #e9e9ea;
        border-radius: 16px;
        padding: 2px;
        margin-left: 1em;
        transition: .2s;
    }
    
    #switch::-webkit-slider-thumb{
        -webkit-appearance: none;
        appearance: none;
        width: 27px;
        height: 27px;
        border-radius: 50%; 
    
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 24%);
        cursor: pointer;
    }
    
    .dark-mode{
        margin-left: .5em;
        font-size: .8em;
    }
}

.container{
    width: 100vw - padding;
    box-sizing: border-box;
    z-index: -1;

    .slick-arrow {
        display: none !important;
    }

    .img-div img{
        width: 100%;
        box-sizing: border-box;
        height: 15em;
    }
}

.section{
    width: 100%;
    box-sizing: border-box;

    p{
        width: 70%;
        text-align: center;
    }

    #btn-marque-agora{
        @include btn(8.5em, 0.5em, 0.7em, $red, $offWhite, rgba(0, 0, 0, 0.26));
    }
}

.container-formulario{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    @extend .flex-center;

    flex-direction: row;

    .form-cadastro{
        width: 40em;
        height: 20em;

        @include box-shadow(rgba(100, 100, 111, 0.2));

        border-radius: 5px;
        background-color: $offWhite;
        display: flex;
        padding: 40px;
    }

    .img-formulario{
        width: 50%;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .form{
        width: 50%;

        .text-login{
            margin: 1em 0;
        }

        .div-cpf, .div-name{
            @extend .flex-center;

            flex-direction: row;
            margin-bottom: 1.7em;
        }

        .div-cpf-icon, .div-password-icon, .div-name-icon{
            width: 1.5em;
            height: 1.5em;
            background-color: $red;
            
            @extend .flex-center;
        
            border-radius: 5px 0px 0px 5px;
        }

        .div-cpf-icon, .div-password-icon{
            i{
                filter: invert(100%);
            }
        }

        #cpf, #name, #password, #password-repeat{
            width: 17em;
            height: 2.7em;
            border: 0;
            background-color: $lighterRed;
            color: $offWhite;
            padding-left: 1em;
        
            border-radius: 0px 5px 5px 0px;
        }

        #cpf::placeholder, #name::placeholder, #password::placeholder, #password-repeat::placeholder{
            color: $offWhite;
            font-size: 1.2em;
        }

        .div-password{
            margin-bottom: 1em;
            
            @extend .flex-center;

            flex-direction: column;

            .div-password-text{
                @extend .flex-center;

                flex-direction: row;
                margin-bottom: .7em;
            }
        }

        .texts-password{
            @extend .flex-space-between;

            font-size: 0.9em;
            width: 12.7em;
        }

        .text-remember, .text-forgot{
            font-size: 0.7em;
        }

        .div-login{
            @extend .flex-center;

            #login, #signup{
                width: 21em;
                height: 2.5em;
                border: none;

                @include box-shadow-button(rgba(100, 100, 111, .4));

                background-color: $red;
                border-radius: 10px;
                color: $offWhite;
                margin-bottom: 2.5em;
                cursor: pointer;
            
                transition: .2s;
            }

            #login:hover, #signup:hover{
                @include box-shadow(rgba(0, 0, 0, 0.13));
            }
        }

        .div-hr-form{
            @extend .flex-center;

            .hr-form{
                width: 200px; //must change for 'em'
            }
        }

        .sign-up{
            .sign-up-with{
                text-decoration: none;
                color: $black;
                font-size: .7em;
            }

            .social-sign-up{
                width: 5em;
                margin-top: .5em;
                margin-bottom: .5em;
            }

            .or{
                font-size: .6em;
            }
        }

        .div-password-r-text{
            @extend .flex-center;

            flex-direction: row;
            margin-top: 1em;
            margin-bottom: .5em;
        }
    }
}

.grid-about-us{
    width: 100vw;
    margin-top: 1em;
    box-sizing: border-box;

    padding: 0 2em;

    @extend .grid-center;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    .big-grid{
        width: 100%;
        height: 100%;
        
        @extend .grid-center;

        border-radius: 10px;

        background-color: $lighterRed;
        grid-row: span 2;

        div{
            @extend .grid-center;

            padding: 1em;

            p{
                margin-top: .5em;
                text-align: justify;
            }
        }
    }

    .small-grid{
        width: 100%;
        height: 100%;
        
        color: $offWhite;

        border-radius: 10px;

        background-color: $red;

        div{
            @extend .grid-center;

            padding: 1em;

            p{
                margin-top: .5em;
                text-align: justify;
            }
        }
    }
}

.profile-page{
    width: auto;
    height: 90vh;

    @extend .flex-center;

    box-sizing: border-box;

    #profile-card-section{
        width: 80%;
        height: 80%;
        box-sizing: border-box;
    
        background-color: $grey;
    
        @include box-shadow(rgba(0, 0, 0, 0.2));
    
        @extend .flex-center;

        border-radius: 10px;
    
        #profile-card{
            width: 100%;
            height: 100%;
    
            @extend .grid-center;
    
            grid-template-columns: 1fr 2fr;
            grid-gap: 20px;
    
            .profile{
                width: 100%;
    
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .profile-picture{
                    width: 5em;
                    height: 5em;
        
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }

                .profile-name{
                    margin-top: 1em;

                    width: 90%;
                    text-align: center;
                }
            }

            .profile-information{
                width: 100%;

                div{
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

footer{
    width: 100%;
    background-color: $red;
    color: $offWhite;

    box-sizing: border-box;

    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;

    .contact{
        .informations{
            display: flex;
            flex-direction: column;

            margin-bottom: 1rem;
        }
    }

    iframe{
        width: 15rem;
        height: 6rem;
    }

    .footer-map{
        display: grid;
        place-items: center;
        margin-bottom: 1rem;
    }
}