* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.flex-center, .book-appointments-page .book-appointments .div-clinic .div-clinic-icon, .book-appointments-page .book-appointments .div-clinic .div-doctor-icon, .book-appointments-page .book-appointments .div-clinic .div-state-icon, .book-appointments-page .book-appointments .div-clinic .div-city-icon, .book-appointments-page .book-appointments .div-doctor .div-clinic-icon, .book-appointments-page .book-appointments .div-doctor .div-doctor-icon, .book-appointments-page .book-appointments .div-doctor .div-state-icon, .book-appointments-page .book-appointments .div-doctor .div-city-icon, .book-appointments-page .book-appointments .div-state .div-clinic-icon, .book-appointments-page .book-appointments .div-state .div-doctor-icon, .book-appointments-page .book-appointments .div-state .div-state-icon, .book-appointments-page .book-appointments .div-state .div-city-icon, .book-appointments-page .book-appointments .div-city .div-clinic-icon, .book-appointments-page .book-appointments .div-city .div-doctor-icon, .book-appointments-page .book-appointments .div-city .div-state-icon, .book-appointments-page .book-appointments .div-city .div-city-icon, .book-appointments-page, .appointments-page .book-appointments-text-section, .appointments-page, .profile-page #profile-card-section, .profile-page, .container-formulario .form .div-password-r-text, .container-formulario .form .div-login, .container-formulario .form .div-password .div-password-text, .container-formulario .form .div-password, .container-formulario .form .div-cpf-icon, .container-formulario .form .div-name-icon, .container-formulario .form .div-birth-date-icon, .container-formulario .form .div-password-icon, .container-formulario .form .div-cpf, .container-formulario .form .div-name, .container-formulario .form .div-birth-date, .container-formulario .form, .container-formulario, .menu .div-hr, .menu li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-space-between, .container-formulario .form .texts-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid-center, .profile-page #profile-card-section #profile-card, .grid-about-us .small-grid div, .grid-about-us .big-grid div, .grid-about-us .big-grid, .grid-about-us {
  display: grid;
  place-items: center;
}

.column {
  flex-direction: column;
}

body {
  background-color: #f8f8ff;
  font-size: 1.5rem;
}

header {
  width: 100%;
  box-sizing: border-box;
  height: 4em;
  padding: 0 3em;
  background-color: #f8f8ff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
header ul, header .div-header {
  display: flex;
  flex-direction: row;
  list-style: none;
}
header ul {
  justify-content: space-between;
}

.menu img {
  width: 11em;
  transition: 0.4s;
}
.menu img:hover {
  filter: drop-shadow(rgba(0, 0, 0, 0.233) 0px 0px 5px);
}
.menu .txt-sobre {
  margin-left: 1em;
  margin-right: 1em;
}
.menu .txt-sobre a {
  color: #000;
  text-decoration: none;
  transition: 0.2s;
}
.menu .txt-sobre a:hover {
  color: #8c1b2f !important;
}
.menu .div-hr {
  height: 4em;
}
.menu .div-hr #hr {
  line-height: 4em;
  height: 70%;
}
.menu #btn-login, .menu #btn-signup, .menu #btn-appointment {
  width: 5em;
  height: 2em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
  background-color: #f8f8ff;
  color: #000;
  box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.144);
  border: 0;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.2s;
}
.menu #btn-login:hover, .menu #btn-signup:hover, .menu #btn-appointment:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.144);
}
.menu #btn-signup {
  width: 6em;
}
.menu #btn-appointment {
  width: 8em;
}

.container {
  width: 100vw-padding;
  box-sizing: border-box;
  z-index: -1;
}
.container .slick-arrow {
  display: none !important;
}
.container .img-div img {
  width: 100%;
  box-sizing: border-box;
  height: 20em;
}

.section {
  width: 100%;
  box-sizing: border-box;
}
.section p {
  width: 70%;
  text-align: center;
}
.section #btn-marque-agora {
  width: 8.5em;
  height: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.7em;
  margin-left: 1em;
  background-color: #8c1b2f;
  color: #f8f8ff;
  box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.26);
  border: 0;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.2s;
}
.section #btn-marque-agora:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.26);
}

.container-formulario {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  flex-direction: row;
}
.container-formulario .form-cadastro {
  width: 40em;
  height: 20em;
  box-shadow: 0px 0px 10px rgba(100, 100, 111, 0.2);
  border-radius: 5px;
  background-color: #f8f8ff;
  display: flex;
  padding: 40px;
}
.container-formulario .img-formulario {
  width: 50%;
}
.container-formulario .img-formulario img {
  width: 100%;
  height: 100%;
}
.container-formulario .form {
  width: 50%;
  flex-direction: column;
}
.container-formulario .form .text-login {
  margin: 1em 0;
}
.container-formulario .form .div-cpf, .container-formulario .form .div-name, .container-formulario .form .div-birth-date {
  flex-direction: row;
  margin-bottom: 1em;
}
.container-formulario .form .div-cpf-icon, .container-formulario .form .div-name-icon, .container-formulario .form .div-birth-date-icon, .container-formulario .form .div-password-icon {
  width: 1.5em;
  height: 1.5em;
  background-color: #8c1b2f;
  border-radius: 5px 0px 0px 5px;
}
.container-formulario .form .div-cpf-icon i, .container-formulario .form .div-name-icon i, .container-formulario .form .div-birth-date-icon i, .container-formulario .form .div-password-icon i {
  filter: invert(100%);
}
.container-formulario .form #cpf, .container-formulario .form #name, .container-formulario .form #birth-date, .container-formulario .form #password, .container-formulario .form #password-repeat {
  width: 17em;
  height: 2.7em;
  border: 0;
  background-color: rgba(140, 27, 48, 0.4745098039);
  color: #f8f8ff;
  padding-left: 1em;
  border-radius: 0px 5px 5px 0px;
}
.container-formulario .form #cpf::placeholder, .container-formulario .form #name::placeholder, .container-formulario .form #birth-date::placeholder, .container-formulario .form #password::placeholder, .container-formulario .form #password-repeat::placeholder {
  color: #f8f8ff;
  font-size: 1.2em;
}
.container-formulario .form .div-password {
  margin-bottom: 0.7em;
  flex-direction: column;
}
.container-formulario .form .div-password .div-password-text {
  flex-direction: row;
}
.container-formulario .form .texts-password {
  font-size: 0.9em;
  width: 12.7em;
}
.container-formulario .form .text-remember, .container-formulario .form .text-forgot {
  font-size: 0.7em;
}
.container-formulario .form .div-login #login, .container-formulario .form .div-login #signup {
  width: 21em;
  height: 2.5em;
  border: none;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.4);
  background-color: #8c1b2f;
  border-radius: 10px;
  color: #f8f8ff;
  margin-bottom: 2.5em;
  cursor: pointer;
  transition: 0.2s;
}
.container-formulario .form .div-login #login:hover, .container-formulario .form .div-login #signup:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.container-formulario .form .div-password-r-text {
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.grid-about-us {
  margin-top: 1em;
  box-sizing: border-box;
  padding: 0 2em;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.grid-about-us .big-grid {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(140, 27, 48, 0.4745098039);
  grid-row: span 2;
}
.grid-about-us .big-grid div {
  padding: 1em;
}
.grid-about-us .big-grid div p {
  margin-top: 0.5em;
  text-align: justify;
}
.grid-about-us .small-grid {
  width: 100%;
  height: 100%;
  color: #f8f8ff;
  border-radius: 10px;
  background-color: #8c1b2f;
}
.grid-about-us .small-grid div {
  padding: 1em;
}
.grid-about-us .small-grid div p {
  margin-top: 0.5em;
  text-align: justify;
}

.profile-page {
  width: auto;
  height: 90vh;
  flex-direction: column;
  box-sizing: border-box;
}
.profile-page .logout {
  width: 65%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.profile-page .logout a {
  color: #000;
  text-decoration: none;
  transition: 0.2s;
}
.profile-page .logout a:hover {
  transform: scale(1.1, 1.1);
}
.profile-page #profile-card-section {
  width: 65%;
  height: 80%;
  box-sizing: border-box;
  background-color: rgba(140, 27, 48, 0.4745098039);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transition: 0.4s;
  border-radius: 10px;
}
.profile-page #profile-card-section:hover {
  box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.4);
  transform: scale(1.01, 1.01);
}
.profile-page #profile-card-section #profile-card {
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}
.profile-page #profile-card-section #profile-card .profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-page #profile-card-section #profile-card .profile .profile-picture {
  width: 5em;
  height: 5em;
}
.profile-page #profile-card-section #profile-card .profile .profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profile-page #profile-card-section #profile-card .profile .profile-name {
  margin-top: 1em;
  width: 90%;
  text-align: center;
}
.profile-page #profile-card-section #profile-card .profile-informations {
  width: 100%;
}
.profile-page #profile-card-section #profile-card .profile-informations div {
  margin-bottom: 1rem;
}

#Footer {
  margin-top: 2rem;
  background-color: #8c1b2f;
  width: 100%;
  display: grid;
  place-items: center;
  color: #f8f8ff;
}
#Footer #informations {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 35px 15px;
  justify-content: space-between;
}
#Footer #informations div {
  display: grid;
  place-items: center;
  text-align: center;
}
#Footer #informations div #title {
  text-transform: uppercase;
  font-weight: 500;
}
#Footer hr {
  width: 100%;
  box-sizing: border-box;
}
#Footer #copyright {
  margin: 40px;
}

.appointments-page {
  width: auto;
  height: 90vh;
  justify-content: space-between;
  margin: 0 5rem;
  box-sizing: border-box;
}
.appointments-page .appointments-controller-section {
  padding: 3rem;
  width: 60%;
  height: 80%;
  background-color: rgba(140, 27, 48, 0.4745098039);
  box-sizing: border-box;
  border-radius: 10px;
}
.appointments-page .book-appointments-text-section {
  width: 30%;
  height: 80%;
  background-color: #8c1b2f;
  color: #f8f8ff;
  box-sizing: border-box;
  border-radius: 10px;
  text-decoration: none;
}

.book-appointments-page {
  width: auto;
  height: 90vh;
  margin: 0 5rem;
  box-sizing: border-box;
}
.book-appointments-page .book-appointments {
  width: 65%;
  height: 80%;
  box-sizing: border-box;
  background-color: #f8f8ff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 3.5rem;
}
.book-appointments-page .book-appointments form {
  margin-top: 1.5rem;
}
.book-appointments-page .book-appointments .div-clinic, .book-appointments-page .book-appointments .div-doctor, .book-appointments-page .book-appointments .div-state, .book-appointments-page .book-appointments .div-city {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}
.book-appointments-page .book-appointments .div-clinic .div-clinic-icon, .book-appointments-page .book-appointments .div-clinic .div-doctor-icon, .book-appointments-page .book-appointments .div-clinic .div-state-icon, .book-appointments-page .book-appointments .div-clinic .div-city-icon, .book-appointments-page .book-appointments .div-doctor .div-clinic-icon, .book-appointments-page .book-appointments .div-doctor .div-doctor-icon, .book-appointments-page .book-appointments .div-doctor .div-state-icon, .book-appointments-page .book-appointments .div-doctor .div-city-icon, .book-appointments-page .book-appointments .div-state .div-clinic-icon, .book-appointments-page .book-appointments .div-state .div-doctor-icon, .book-appointments-page .book-appointments .div-state .div-state-icon, .book-appointments-page .book-appointments .div-state .div-city-icon, .book-appointments-page .book-appointments .div-city .div-clinic-icon, .book-appointments-page .book-appointments .div-city .div-doctor-icon, .book-appointments-page .book-appointments .div-city .div-state-icon, .book-appointments-page .book-appointments .div-city .div-city-icon {
  width: 1.5em;
  height: 1.5em;
  background-color: #8c1b2f;
  border-radius: 5px 0px 0px 5px;
}
.book-appointments-page .book-appointments .div-clinic .div-clinic-icon i, .book-appointments-page .book-appointments .div-clinic .div-doctor-icon i, .book-appointments-page .book-appointments .div-clinic .div-state-icon i, .book-appointments-page .book-appointments .div-clinic .div-city-icon i, .book-appointments-page .book-appointments .div-doctor .div-clinic-icon i, .book-appointments-page .book-appointments .div-doctor .div-doctor-icon i, .book-appointments-page .book-appointments .div-doctor .div-state-icon i, .book-appointments-page .book-appointments .div-doctor .div-city-icon i, .book-appointments-page .book-appointments .div-state .div-clinic-icon i, .book-appointments-page .book-appointments .div-state .div-doctor-icon i, .book-appointments-page .book-appointments .div-state .div-state-icon i, .book-appointments-page .book-appointments .div-state .div-city-icon i, .book-appointments-page .book-appointments .div-city .div-clinic-icon i, .book-appointments-page .book-appointments .div-city .div-doctor-icon i, .book-appointments-page .book-appointments .div-city .div-state-icon i, .book-appointments-page .book-appointments .div-city .div-city-icon i {
  filter: invert(100%);
}
.book-appointments-page .book-appointments .div-clinic #clinic, .book-appointments-page .book-appointments .div-clinic #doctor, .book-appointments-page .book-appointments .div-clinic #state, .book-appointments-page .book-appointments .div-clinic #city, .book-appointments-page .book-appointments .div-doctor #clinic, .book-appointments-page .book-appointments .div-doctor #doctor, .book-appointments-page .book-appointments .div-doctor #state, .book-appointments-page .book-appointments .div-doctor #city, .book-appointments-page .book-appointments .div-state #clinic, .book-appointments-page .book-appointments .div-state #doctor, .book-appointments-page .book-appointments .div-state #state, .book-appointments-page .book-appointments .div-state #city, .book-appointments-page .book-appointments .div-city #clinic, .book-appointments-page .book-appointments .div-city #doctor, .book-appointments-page .book-appointments .div-city #state, .book-appointments-page .book-appointments .div-city #city {
  width: 15rem;
  height: 2.7em;
  border: 0;
  background-color: rgba(140, 27, 48, 0.4745098039);
  color: #f8f8ff;
  padding-left: 1em;
  border-radius: 0px 5px 5px 0px;
}

/*# sourceMappingURL=style.css.map */
